page-cadastro-projeto {
    .btn_cadastro_projeto {
        width: 90%;
        overflow: hidden;
    }

    .invisivel {
        display: block;
        height: 50px;
    }

    .scroll-content {
        bottom: 60px;
    }

    .button-box{
        button{
            width: 50%;
        }
    }
    
}

