.toolbar {
    height: 60px;
    &-ios {
        height: 80px;
    }
    .toolbar-content {
        height: 100%;
        .title {
            height: 100% !important;
        }
    }
}

.content-ios {
    .fixed-content {
        margin-top: 80px !important;
    }
    .scroll-content {
        margin-top: 80px !important;
    }
}

.swiper-pagination-bullet-active{
    background: #FF7D24!important;
}
.toolbar-background {
    background-color: white;
}

.toolbar-title {
    color: white;
    text-align: center;
    text-transform: capitalize;
    &-ios {
        padding-top: 20px;
    }
}

.button-box {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
}

.back-button{
    position: absolute;
    z-index: 10;
    color: #ff7d24;
}