.toolbar {
    height: 60px;
    &-ios {
        height: 80px;
    }
    .toolbar-content {
        height: 100%;
        .title {
            height: 100% !important;
        }
    }
}

.content-ios {
    .fixed-content {
        margin-top: 80px !important;
    }
    .scroll-content {
        margin-top: 80px !important;
    }
}

.toolbar-background {
    background-color: white;
}

.toolbar-title {
    color: white;
    text-align: center;
    text-transform: capitalize;
    &-ios {
        padding-top: 20px;
    }
}